body{
  width: 100%;
  min-height: 100vh;
  /* background-color: rgb(237, 221, 202); */
  background-color: rgb(219, 195, 195);
  /* background-color: rgb(170, 198, 170); */
  overflow: hidden;
  font-family:Arial, Helvetica, sans-serif
}

.work{
  background-color: rgb(219, 195, 195);
}

.rest{
  background-color: rgb(170, 198, 170);
}

.bg{
  background-image: url("./images/bubble-tea.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: 610px 100%;
  position: relative;
}

.main-container, .settings-container{
  position: absolute;
  top :57%;
  left: 49.4%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.settings-container{
  top: 59%;
}

.settings-container div{
  text-align: center;
  white-space: nowrap;

}

.settings-icon{
  position: fixed;
  top : 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.settings-title{
  font-size: 25px;
}

.enter{
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  background: #784724;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #784724;
  cursor: pointer;
}

.timer{
  font-size: 50px;
}

.start{
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  /* background-color: rgb(175, 141, 113); */
}

.stage{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.stage div{
  border: 1px black solid;
  padding: 5px;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  /* background-color: rgb(175, 141, 113); */
}

.active{
  background-color: rgb(175, 141, 113);
}

.button:hover{
  background-color: rgb(175, 141, 113);
}

@media (min-width: 1000px){
  .bg{
    background-size: 1000px 90%;
  }
}

@media(max-height: 820px){
  .settings-container div{
    font-size: 16px;
  }
  .settings-container {
    gap: 5px;
  }
}

@media (max-height: 600px){
  .timer{
    font-size: 30px;
  }
  .main-container{
    gap: 5px;
  }

  .start{
    font-size: 12px;
  }

  .stage div{
    font-size: 12px;
    width: 60px;
  }

  .settings-container div{
    text-align: center;
    font-size: 13px;
  }
}

